.container {
    height: 100dvh;
    padding: 6dvh 5dvw;
    transition: padding 0.2s ease-in-out;
    /*
    background: url('https://images.pexels.com/photos/842711/pexels-photo-842711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center;
    background-size: cover;
    */
    background-color: red;
}

h1 {
    font-size: 10dvw;
    display: inline-block;
    text-align: center;
}

h1,
p {
    text-align: center;
    margin: 0;
    transform: rotate(-3deg);
    margin-top: -50px;
}

#logo-company {
    width: 200px;
}

p {
    -webkit-text-stroke: 1px black;
    font-size: 8dvh;
    letter-spacing: 2.5px;
    margin-top: -30px;
}

header {
    background-color: transparent;
    height: 10dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

.header-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10dvw;
}

.header-container-2 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20dvw;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
    color: white;
}

i:hover {
    transform: scale(1.1);
}

main {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -15dvh;
    position: relative;
}

main div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-logo img {
    height: 200px;
    width: 400px;
    object-fit: cover;
    image-rendering: auto;
    filter: none;
    display: block;
}

.main-slogan {
    flex-direction: column;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: white;
    padding: 8px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    min-width: 160px;
    border: none;
    border-radius: 50px;
    height: 40px;
}

.flag-icon {
    width: 20px;
    height: auto;
    margin-right: 8px;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: white;
    padding: 10px 20px;
    border: none;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    font-size: 15px;
}

.flag-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
    right: 0;
    margin-top: 5px;
    border-radius: 5px;
}

.dropdown-content.show {
    display: block;
    min-width: 200px;
}

.dropdown-item {
    padding: 15px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

button {
    cursor: pointer;
}

.bottom-left,
.bottom-right {
    height: 40dvh;
    max-width: 20dvw;
    box-sizing: border-box;
    position: absolute;
    bottom: 20dvh;
    border: solid;
    animation: bounce 1.5s ease-in-out infinite;
}


.bottom-left {
    left: 0;
}

.bottom-right {
    right: 0;
}

.slime-button {
    margin-top: 20px;
    position: relative;
    color: black;
    font-weight: bold;
    font-size: 24px;
    border-radius: 12px;
    width: 200px;
    height: 80px;
    background: linear-gradient(to bottom, #54ca12, #63bf24);
    border: 3.5px solid black;
    z-index: 1;
    padding: 20px 10px;
    overflow: visible;
    text-align: center;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow:
        inset 0 3px 0 #6efa18,
        inset 0 -4px 0 #3c7316;
}

.slime-button:active {
    transform: scale(0.96);
}


@media (max-width: 768px) {
    .container {
        padding: 2.5dvw 5dvw;
    }

    .logo-container {
        width: 30dvw;
    }

    .links-container {
        display: none;
    }

    main {
        margin-top: 0;
    }

    h1 {
        font-size: 15dvw;
        margin: 0;
    }

    .bottom-left,
    .bottom-right {
        display: none !important;
    }

    p {
        font-size: 5dvh;
        margin: 0;
    }

    #logo-company {
        width: 150px;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}