.container { 
    height: 100dvh;
    padding: 2dvh 5dvw;
    transition: padding 0.2s ease-in-out; 
}

h1 {
    font-size: 4dvw;
}

h1, p {
    text-align: center;
    margin: 0;
}

p {
    max-width: 50dvw;
}

header { 
    background-color: transparent;
    height: 10dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

.header-container { 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10dvw;
}

main { 
    height: 100%;
    display: flex;
    align-items: center; 
    flex-direction: column;
    margin-top: -5dvh;
    position: relative;
}

main div {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
}

.main-logo {
    height: 10dvh;
}

.main-slogan {
    height: 55dvh;
    flex-direction: column;
}

.main-button {
    height: 10dvh;
}

@media (max-width: 768px) {
    .container {
        padding: 2.5dvw 0;
    }

    .logo-container {
        width: 30dvw;
    }

    .links-container {
        display:none;
    }

    main {
        margin-top: 0;
    }

    h1 {
        font-size: 6dvw;
    }    
}
