
<section class="d-100 d-header">
    <custom-header></custom-header>
</section>

<section class="scroll">
    <div class="border-wrapper">
        <img src="/assets/img/border.svg" class="border" alt="Border">
        <div class="border-div-right"></div>
        <div class="border-div-left"></div>
    </div>
    <scroll></scroll>

</section>

<section class="bg">
    <div style="height: 100vh;"></div>
    <div class="border-wrapper">
        <img src="/assets/img/border.svg" class="border-2" alt="Border">
        <div class="border-div-right-2"></div>
        <div class="border-div-left-2"></div>
    </div>

    <section class="videos">
        <videos></videos>
    </section>

    <section class="news">
        <news></news>
    </section>
</section>

<section>
    <custom-footer></custom-footer>
</section>