.d-100 {
    height: 100dvh;
}

.bg {
    background: url('/assets/img/main-bg.jpg');
    background-size: contain;
    width: 100%;
}



@media (max-width: 1024px) {
    .news {
        padding: 2rem;
    }

    .videos {
        padding: 2rem;
    }
}