<main>
  <h1 class="ultra-regular">{{ 'updates' | translate | uppercase }}</h1>
  <div class="news-container">
    <div class="small-news">
      <div class="img-news" style="background: url('/assets/img/img1.png'); object-fit: cover;"></div>
      <div style="padding: 0 1rem; margin-top: 0;">
        <h3 class="ultra-regular">{{ 'news1Title' | translate }}</h3>
        <p class="data">{{ 'news1Date' | translate }}</p>
        <p>{{ 'news1Text' | translate }}</p>
      </div>
    </div>
    <div class="small-news">
      <div class="img-news" style="background: url('/assets/img/img2.png'); object-fit: cover;"></div>
      <div style="padding: 0 1rem; margin-top: 0;">
        <h3 class="ultra-regular">{{ 'news2Title' | translate }}</h3>
        <p class="data">{{ 'news2Date' | translate }}</p>
        <p>{{ 'news2Text' | translate }}</p>
      </div>
    </div>
  </div>
</main>
