main {
    height: 100%;  
    padding-bottom: 10dvh;
}

h1 {
    text-align: center;
    font-size: 8dvw;
    margin-bottom: 50px;
    -webkit-text-stroke: 3px black;
}

.news-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55dvw;
    margin: 0 auto;
}

.small-news {
    color: white;
    width: 25dvw;
    height: 100%;
    border-radius: 0.5rem;
    border: 3px solid black;
    box-shadow: 0 0 0 10px white, 0 0 0 13px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.5s ease;
    background-color: #3ca502;
    max-height: 100dvh;
}

.small-news:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.small-news:not(:hover) {
    transform: scale(1);
}

.img-news {
    height: 30dvh;
    object-fit: cover;
    border-radius: 0.3rem 0.3rem 0 0;
}

h3 {
    margin-top: 1rem;
    font-size: 1.3rem;
    width: 100%;
    -webkit-text-stroke: 0;
}

p {
    margin-top: 0.5rem;
    font-size: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.data {
    margin: 0;

}

@media (max-width: 768px) {

    h1 {
        font-size: 15dvw;
        margin: 0;
        padding: 0;
    }
    
    
    .news-container {
        flex-direction: column;
        width: 100%;
    }

    .small-news {
        width: 100%;
        margin: 8dvh 0 0 0;
    }
}