<main>
    <h1 class="ultra-regular">{{'updates' | translate | uppercase}}</h1>
    <div class="news-container">
        <div class="small-news">
            <!-- <img src="/assets/img/news/1-news.svg" alt="image">-->
            <img src="" style="background-color: #000;">
            <div style="padding: 0 1rem; margin-top: 0;">

                <h3 class="ultra-regular">Slime Attack: the new game taking over the charts</h3>
                <p class="data">April 9, 2025</p>
                <p>The newly released *Slime Attack* is an action-packed game where players control colorful slimes with unique powers.
                    From sticky jumps to weird transformations, the game has already hit over a million downloads in just a few days.
                    Get ready for a gooey battle!</p>
            </div>
        </div>
        <div class="small-news">
            <!-- <img src="/assets/img/news/2-news.svg" alt="image">-->
            <img src="" style="background-color: #000;">

            <div style="padding: 0 1rem ; margin-top: 0;">
                <h3 class="ultra-regular">New Bomb Mushroom stirs chaos in latest update</h3>
                <p class="data">April 8, 2025</p>
                <p>The latest *ShroomRush* update introduces the explosive "Bomb Mushroom," a powerful new enemy that totally changes gameplay.
                    Watch out—get too close and... BOOM! Fans are loving the added challenge already.</p>
            </div>
        </div>
    </div>
</main>
