<main>
    <h1 class="ultra-regular">NOTIZIE</h1>
    <div class="news-container">
        <div class="small-news">
            <img src="" alt="image">
            <div style="padding: 0 1rem; margin-top: 0;">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
                <p>Data</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed
                    cursus ante dapibus diam.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed
                    cursus ante dapibus diam.</p>
            </div>
        </div>
        <div class="small-news">
            <img src="" alt="image">
            <div style="padding: 0 1rem ; margin-top: 0;">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
                <p>Data</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed
                    cursus ante dapibus diam.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed
                    cursus ante dapibus diam.</p>
            </div>
        </div>
    </div>
</main>