<div class="scroll-container">
  <div class="section" #section1 style="background-color: red;">
    <div class="random-boxes"></div>
    <div class="content">
      <h2>1</h2>
    </div>
  </div>

  <div class="section" #section2 style="background-color: rebeccapurple;">
    <div class="random-boxes"></div>
    <div class="content">
      <h2>2</h2>
    </div>
  </div>

  <div class="section" #section3 style="background-color: aliceblue;">
    <div class="random-boxes"></div>
    <div class="content">
      <h2>3</h2>
    </div>
  </div>
</div>
