<div class="scroll-container">
  <div class="section" #section1 style="background-color: red;">
    <div class="random-boxes"></div>
    <div class="content">
      <h2 class="title ultra-regular">Lotta per kumar</h2>
      <p class="description">asdlksmdslskdalkmklalsmkdslksamlksamkadamkalmsamdkdsamkdsamdsalkdsamlksldaldsalkdsam</p>
    </div>
  </div>

  <div class="section" #section2 style="background-color: rebeccapurple;">
    <div class="random-boxes"></div>
    <div class="content">
      <h2 class="title ultra-regular">Lotta per kumar</h2>
      <p class="description">asdlksmdslskdalkmklalsmkdslksamlksamkadamkalmsamdkdsamkdsamdsalkdsamlksldaldsalkdsam</p>
    </div>
  </div>

  <div class="section" #section3 style="background-color: green;">
    <div class="random-boxes"></div>
    <div class="content">
      <h2 class="title ultra-regular">Lotta per kumar</h2>
      <p class="description">asdlksmdslskdalkmklalsmkdslksamlksamkadamkalmsamdkdsamkdsamdsalkdsamlksldaldsalkdsam</p>
    </div>
  </div>
</div>
