<footer class="footer">
  <div class="footer-top">
    <div class="footer-links">
        <div>
          <img src="/assets/img/logo-svlime.png" alt="logo" class="logo-svlime" />
        </div>
        <a href="#">Parent's Guide</a>
        <a href="#">Terms of Service</a>
        <a href="#">Privacy Policy</a>
      </div>
      <div class="store-buttons">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Download_on_the_App_Store_RGB_blk.svg" alt="Download on the App Store" />
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg" alt="Get it on Google Play" />
      </div>
    </div>

    <hr class="divider" />

    <div class="footer-bottom">
      <div class="brand">
        <img src="/assets/img/GAM.png" alt="GAM logo" class="logo" />
        <a href="#">Fan Content Policy</a>
        <a href="#">Manage Cookies</a>
      </div>
      <div class="social-icons">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-tiktok"></i>
        <i class="fab fa-x-twitter"></i>
        <i class="fab fa-youtube"></i>
      </div>
  </div>
</footer>